*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background: rgb(57, 235, 146);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    /* border: 10px solid black; */

    /* border-width: 5px 10px 15px 20px;
    border-style: dotted dashed groove solid;
    border-color: rebeccapurple red blue orange; */

    /* border-top:  5px dotted rebeccapurple ;
    border-right: 10px dashed red ;
    border-bottom: 15px groove blue;
    border-left: 20px solid orange ; */

    border-top-width: 5px ;
    border-top-style:dotted ;
    border-top-color:rebeccapurple ;

    border-left-width: 20px;
    border-left-style: solid;
    border-left-color:orange ;

    border-bottom-width:15px ;
    border-bottom-style:groove ;
    border-bottom-color:blue ;

    border-right-width:10px ;
    border-right-style: dashed;
    border-right-color:red ;
}



.img{
    display: block;
    width:350px;
    height: 350px;
    margin: 120px auto;
    border: 10px groove orangered;
    /* border-radius: 10px 100px 200px 900px; */

    border-top-left-radius:900px ;
    border-top-right-radius:500px ;
    border-bottom-left-radius: 900px;
    border-bottom-right-radius:200px ;
    margin: 40px auto;
}

.card{
    margin: 40px auto;
    width: 400px;
    background-color: purple;
    border: 2px black solid;

}

.title_card{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.link_card{
    background-color: royalblue;
    color: white;
    margin: 0 auto;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}