@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background:blueviolet;
   font-family: Arial, Helvetica, sans-serif, Cursive;
   font-family: 'Montserrat', sans-serif;
}

.container{
    background: rgb(243, 233, 233);
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
    
}

.title{
    text-align: inherit;
}

.image{
    
    width: 400px;
}

.link{
    text-align: right;
    text-decoration-line: underline line-through overline;
    text-decoration-style: dotted;
    text-decoration-color: purple;
}

.spacing{
    display: block;
    text-align: justify;
    padding: 10px;
    /* letter-spacing: 20px; */
    /* word-spacing: 50px; */
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.479);
    text-transform: capitalize;

    font-weight: 100;
    font-size: 16px;
}

.bold{
    background-color: brown;
    font-variant: small-caps;
    font-style: oblique;
}