
*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    margin: 0px;
}

.box{
    width: 300px;
    height: 200px;
}

.boxA{
    background-color: blueviolet;
    color: white;
}

.new_box{
    background-color: yellow;
    color: black;
}
.boxB{
    
    background-color: coral;
    padding: 10px 20px;
    /* padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px; */
}
